<div class="container">
  <div class="row">
   <div class="col">
       <img src=<%= 'https://icon-library.com/images/user-profile-icon/user-profile-icon-23.jpg' %> >
      </div>
      <div class="col">
      <div class="user-data">
      <h2><%= @user.name%></h2>
      <p>Number of posts: <%= @user.posts.size %></p>
     </div>
     </div>
    </div>

    <% @posts.each do |post| %>

  <div class="comment-container">
    <div class="post-data">
     <%= link_to "#{post.title}", user_post_path(@user.id, post.id), class:"post-title" %> 
     <h3><%= post.text%></h3>
      <h6>Number of comments: <%= post.comments.size %> <span>Number of likes: <%= post.likes_counter %></span></h5>
    </div>
  </div>
  <div class="comment-container">
    <% post.recent_comments.each do |comment| %>
       <p><%= comment.author.name%>: <%= comment.text%></p>
    <%end%>
  </div>
 <%end%> 
<div class="btn-space">
   <div class="btn">
     <%= link_to "Create a Post",  new_user_post_path(@user), {:class => "btn btn-success"} %>
   </div>
    <div class="btn">
     <button class="btn btn-primary">
       Pagination
     </button>
    </div>
 </div>
 </div>
</div>
